<% var i, mode; %>
<table id="metrics-table">
  <thead>
    <tr> <th><% for(i=0; i<metrics.length; i++) { %> <th class="<%= metrics[i] %>"> <% } %> <th>
  </thead>
  <tbody>
    <% for(mode in results) { 
        if (results.hasOwnProperty(mode))%>
      <tr id="<%= mode %>"><th> 
      <% for(i=0; i<metrics.length; i++) { %> 
        <td><div class="metric-value"><%= results[mode][metrics[i]].value %></div>
        <div class="metric-label"><%= results[mode][metrics[i]].label %></div> 
      <% } %>
      <td class="metric-more"><div class="ui-icon ui-icon-arrow-r"></div>
    <% } %>
  </tbody>
</table>